body {
    background-color: linen;
}
h1{
    text-align: center;
    font-size: 5em;
}
@media only screen and (max-width: 1000px){
    h1{
        font-size: 3.5em;
    }
}
h2, h3 {
    font-size: 3em;
    text-decoration: underline;
    padding-left: 1vw;
    margin-left: -10px;
    background-color: dimgray;
    color: white;
    padding: 2vw;
    width: auto;


}
h2{
    margin-bottom: -2vw;
    margin-top: -0.5vw;
}
p{
    font-size: 2em;   
    
}
@media only screen and (max-width: 1000px){
p{
    font-size: 1.2em;
}
}

footer{
background-color: dimgray;
padding: 5px;
color: seashell;
font-family: serif;
font-style: italic;
}
.countdown {
    background-color:gold;
    text-align: center;
    padding: 4vw;
    font-size: 4em;
    margin-top: -0.3vw;
}
@media only screen and (max-width: 1000px){
    .countdown{
    font-size: 2.5em;
    }
}
.høyre{
    margin-left: 3vw;
    display: table;
    float: left;
}
.venstre{
    margin-right: 3vw;
    display: table;
    float: right;
}
.center{
    text-align: center;
}

.underoverskrift{
font-size: 2em;
font-weight: bold;
background-color: dimgray;
color: seashell;
width: auto;
margin-left: -10px;
padding-left: 2vw;    
}
@media only screen and (max-width: 1000px){
.underoverskrift{
    margin-top: -5px;
}
}
@media only screen and (max-width: 1600px){
    .underoverskrift{
        margin-top: -3px;
    }
    }



  /* navbar */

.anchor {
    padding-top: 0.5vw;
    margin-top: -2vw;

}
.anchor-h2{
   padding-top: 3vw; 
   margin-top: -3vw;
}
@media only screen and (max-width: 1000px){
    .anchor{
padding-top: 0.03px;
margin-top: -0.03px;
    }
    .anchor-h2{
        padding-top: 14vw; 
        margin-top: -14vw; 
    }
  }

ul.menu {
    list-style-type: none;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: auto;
    background-color: dimgray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: -10px;


  }

li a {

    font-size: 1.2em;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1.3vw;
    color: seashell;

  }
